.adminBack {
    width: 100%;
    height: 50rem;
    background: #c31432;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(90deg, #4f1616 3%, #c31432 100%);
    padding-bottom: 5rem;  
    gap: 2rem;
}