* {
  padding: 0;
  margin: 0;
}

@font-face { 
  font-family: Integral;
  src: url(./assets/fonts/regular.otf);
  }

@font-face { 
  font-family: Gotham;
  src: url(./assets/fonts/Gotham-Black.otf);
  }
@font-face { 
  font-family: Branch;
  src: url(./assets/fonts/Branch.ttf);
  }
@font-face { 
  font-family: Gado;
  src: url(./assets/fonts/Gado.otf);
  }